@import "./customs/bootstrap";

*,
:before,
:after {
  margin: 0;
  box-sizing: border-box;
}
.App {
  .cont-home {
    background-color: rgb(111, 111, 111);
    .cont-forecast {
      .time-forecast {
      }
    }
  }
}
